html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

canvas.webgl {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.buttonNext {
  position: absolute;
  z-index: 99999;
  background-color: #d21eb1;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  margin: 0% 0% 0% -28%;
}

.GameTile {
  color: rgb(47, 41, 46);
  font-size: 30px;
  padding-top: 30px;
}

.textPopup {
  z-index: 99999;
}

#message {
  font-size: 40px;
  color: black;
  left: 0;
  top: 0;
  margin: 5% 40% 0% 0%;
  z-index: 99999;
}

.popupContainer {
  z-index: 99999;
}

#message p {
  z-index: 1001;
}
