.titlePic {
  color: white;
}

.buttonPic img {
  width: 100px;
  text-decoration: none;
}

.buttonPic {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  background: none;
  border: none;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.Container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  overflow: hidden;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoStyle img {
  align-self: start;
  margin-top: -20%;
  width: 30%;
}

.productImagePicContainer img {
  width: 40%;
}

.productImagePic img {
  width: 30%;
}

.avatarBigContainer {
  position: relative;
}

.avatarContainer {
  position: absolute;
  z-index: 0;

  top: 0vh;
  left: 0vw;
  transform: translate(-30%, -10%);
}

.Avatar_button {
  z-index: 999;
}

.modalBackground {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  overflow: auto;
  align-items: center;

  z-index: 1001;
  width: 60%;
  padding: 20px;

  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 7px 7px 24px #1b1a1a, -7px -7px 24px #e7e7e7;
}

.modalImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  z-index: 99;
}

.downloadButton {
  z-index: 999;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700;

  background-color: #eaa4b4;
  color: white;
}

.byeMessage {
  color: #eaa4b4;
  padding: 25px;
}

.submitButton {
  width: 30%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .avatarContainer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
