body {
  margin: 0;
  padding: 0;
}

.canvasContainer {
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas {
  width: 100vw;
  height: 80vh;
}

.specificationPage {
  overflow-x: hidden;
}
